---
import { getEntry, render } from "astro:content";

import Comments from "@components/widget/Comments.svelte";
import Globe from "@components/Globe.svelte";
import Markdown from "@components/misc/Markdown.astro";
import Typewriter from "@components/Typewriter.svelte";

import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const aboutPost = await getEntry("spec", "about");

if (!aboutPost) {
  throw new Error("About page content not found");
}

const { Content } = await render(aboutPost);
---

<MainGridLayout title={i18n(I18nKey.about)} description={i18n(I18nKey.about)}>

  <section
    class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32 z-0"
  >
    <div class="card-base z-10 px-9 py-6 relative w-full">
      <Typewriter lines={["About Me", "Hi, I'm Zhaowen Deng"]} client:load />
      <Globe client:only="svelte" />
      <Markdown class="mt-2">
        <Content />
      </Markdown>
    </div>
  </section>

  <Comments client:only="svelte" />
</MainGridLayout>
